* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #333;
    padding-top: 80px;
  }

  header {
    position : fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    z-index: 1;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    header {
      position : fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    -webkit-backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    z-index: 1;
    }
  
  .header-title-link {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    float: left;
    color: #fff; /* Add color for link text */
    text-decoration: none; /* Remove underlines from link text */
  }

  header h1 {
    display: inline-block;
    vertical-align: left;
    font-size: 36px;
    text-align: left;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }

  section {
    margin-top: 80px;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav ul li:last-child {
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  header nav ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  
  main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  main section {
    margin-bottom: 40px;
  }
  
  main section h2 {
    margin-top: 40px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  main section ul {
    list-style: none;
  }
  
  main section ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  main section ul li:last-child {
    border-bottom: none;
  }
  
  main section ul li h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  main section ul li p {
    font-size: 16px;
  }
  
  main section#contact-me form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
  
  main section#contact-me form label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  main section#contact-me form input,
  main section#contact-me form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
  main section#contact-me form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
  }
  
  main section#contact-me form input[type="submit"]:hover {
    background-color: #555;
  }
    
  footer {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    margin-top: 0px;
  }
  img {
    border-radius: 10px;
    width: 45%;
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
  }
  video-container {
      border-radius: 10px;
      overflow: hidden;
  }
  .video-container video {
      width: 45%;
      height: auto;
      object-fit: cover;
      margin-right: 20px;
      margin-top: 20px;
  }
  video {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 100%;
  }
    
  section {
    margin-top: 80px;
  }

  .header-logo {
    display: inline-block;
    vertical-align: left;
    margin-left: 10px;
    max-width: 80px;
    border-radius: 50%;
  }

  .color-submit {
    background-color: rgb(59, 79, 65); 
    color: #fff;
    cursor: pointer;
  }

  @media (max-width: 480px) {
    
    header h1 {
      font-size: 18px;
    }

    header nav ul li a {
      font-size: 14px;
    }

    img {
      border-radius: 10px;
      width: 100%;
      height: auto;
      margin-right: 20px;
      margin-top: 20px;
    }
    .video-container video {
      width: 100%;
    }
    .header-logo {
      display: inline-block;
      vertical-align: left;
      margin-right: 10px;
      max-width: 40px;
      border-radius: 50%;
    }
    
  }

  .download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2d2d2d;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
  }